body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    width: 1000px;
    height:600px;
    padding: 10px;
    position: relative;
    border: solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvas{
    display: flex;
    align-items: center;
    justify-content: center;
}