body{
    margin: auto;
}
nav{
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-content{
    margin: auto;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.tools{
    text-align: center;
}
.canvas-box{
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
}