body{
    margin: auto;
}
nav{
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-content{
    margin: auto;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.canvas-box{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
.tools {
    padding:20px;
    border:1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    position: relative;
}
.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
  }
.paint-size {
    cursor:pointer;
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}
/* przycisk wyboru koloru */
.paint-color {
    height:20px;
    width:20px;
}
.paint-buttons-cnt {
    margin-left:auto;
}
.button-mode {
    cursor:pointer;
    width:20px;
    height:20px;
}
